<!-- SECTION WHATSAPP -->
<div class="message-box"> <a
        href="https://wa.me/+5511996905490?text=Ol%C3%A1%20eu%20vim%20do%20seu%20site%20e%20gostaria%20de%20um%20or%C3%A7amento!%20"></a>Solicite
    um
    orçamento 😃</div>
<!-- Botão do WhatsApp -->
<a href="https://wa.me/+5511996905490?text=Ol%C3%A1%20eu%20vim%20do%20seu%20site%20e%20gostaria%20de%20um%20or%C3%A7amento!%20"
    class="whatsapp-float" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-whatsapp"></i>
</a>

<p>&copy; 2024 Bethel Serviços - Todos os direitos reservados</p>